---
import { ArrowRight } from '@lucide/astro'
const { 
  label, 
  fontSize = 'text-lg', 
  bg = 'bg-focus', 
  border = 'border-none' 
} = Astro.props;
---

<button class={`flex items-stretch gap-2 w-60 group/button hover:translate-x-2 transition-all duration-200 ${fontSize}`}>
  <span class={`flex w-full justify-center items-center text-fg font-bold italic rounded-xl ${bg} ${border}`}>{label}</span>
  <span class={`flex items-center justify-center text-fg p-4 rounded-xl ${bg} ${border}`}><ArrowRight class="size-[1em] transition-transform group-hover/button:-rotate-45" /></span>
</button>
